.comminity-search
    display: flex
    flex-direction: column

    .search-bar
        padding: 0 1rem

    .comminuty-list
        max-height: 300px
        overflow: auto

        #my-panel
            padding: 0 1rem

            .poibox
                padding: 10px 0
                border-bottom: solid 1px var(--adm-color-border)
                cursor: pointer

                .poi-name
                    font-size: 16px
                    font-weight: bold

                .poi-address
                    font-size: 13px
                    color: #999
                    margin-top: 4px
